<!--
    Description:
    Shows the Timetable of Classroom

    path: timetable/c/<int:classroom_id>/
    url: http://localhost:8000/timetable/c/1/
    views: classroom_timetable
    -->

{% extends 'base.html' %}


{% block content %}


<div>
    <div class="header">
        {{request.user.username}}
        &nbsp;
    </div>





{% for period in classroom_timetable %}
{% ifchanged period.week_day %}
<!-- week day -->
<button class="day"> {{period.week_day}}</button> {# monday, tuesday.... #}

<div class="panel">
        <ul class="responsive-table">
            <li class="table-header">
              <div class="col col-1">Period</div>
              <div class="col col-2">Subject</div>
              <div class="col col-3">Teacher Name</div>
            </li>

            <!-- Loop through timetable -->
            {% for timetable in classroom_timetable %}
            {% if timetable.week_day == period.week_day %}
              <li class="table-row">
                <div class="col col-1"> {{timetable.period_no}} </div>
                <div class="col col-2"> {{timetable.lecture.subject.name}}</div>
                <div class="col col-3"> {{timetable.lecture.teacher}}</div>
              </li>
            {% endif %}
            {% endfor %}
        </ul>
</div>
{% endifchanged %}
{% endfor%}






<script>
var acc = document.getElementsByClassName("day");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>

</div>
{% endblock content %}