<!--
    Description:
    Shows the timetable for the teacher

    path:timetable/t/<int:teacher_id>/
    url: http://localhost:8000/timetable/t/1/
    views:teachers_timetable
-->

{% extends 'base.html' %}


{% block content %}

<h1>
    mondays timetable
</h1>


<div>
    <div class="header">
        {{request.user.username}}
        &nbsp;
    </div>





{% for period in teachers_timetable %}
{% ifchanged period.week_day %}
<!-- week day -->
<button class="day"> {{period.week_day}}</button> {# monday, tuesday.... #}

<div class="panel">
        <ul class="responsive-table">
            <li class="table-header">
              <div class="col col-1">Period</div>
              <div class="col col-2">Subject</div>
              <div class="col col-3">classroom</div>
            </li>

            <!-- Loop through timetable -->
            {% for timetable in teachers_timetable %}
            {% if timetable.week_day == period.week_day %}
              <li class="table-row">
                <div class="col col-1"> {{timetable.period_no}} </div>
                <div class="col col-2"> {{timetable.lecture.subject.name}}</div>
                <div class="col col-3"> {{timetable.classroom}}</div>
              </li>
            {% endif %}
            {% endfor %}
        </ul>
</div>
{% endifchanged %}
{% endfor%}





<script>
    var acc = document.getElementsByClassName("day");
    var i;
    
    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
          panel.style.display = "none";
        } else {
          panel.style.display = "block";
        }
      });
    }
</script>


{% endblock content %}